@import "tailwindcss";

@layer base{
  html {
    @apply bg-black text-white
  }
}

@layer components{
  .skill-title{
    font-family: 'Space Grotesk', sans-serif;
    @apply mb-3  text-blue-500 uppercase font-bold
  }
}